* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.app {
  margin-top: 50%;
}

button {
  height: 50px;
  width: 200px;
  background-color: black;
  color: aliceblue;
  border-radius: 16px;
}
